<app-input-template>
    <label [for]="name" class="field-label">
        <ng-content select=".label"></ng-content>
    </label>
    <ng-container class="field-input">
        <input 
            class="field-input w-input"
            tabindex="-1" 
            [id]="name"
            [type]="type" 
            [name]="name"
            [disabled]="disabled"
            [readonly]="readonly"
            [placeholder]="placeholder" 
            [autocomplete]="autocomplete"
            [ngModel]="value"
            (ngModelChange)="value = $event ? $event : null"
            />
    </ng-container>
    <ng-container class="field-svg">
        <label for="color" class="color-label">
            <div class="color-box" [style.backgroundColor]="value"></div>
            <input 
                type="color" 
                name="color" 
                id="color" 
                class="color-input"
                [ngModel]="value"
                (ngModelChange)="value = $event ? $event : null">
        </label>
    </ng-container>
</app-input-template>