<div class="not-found-page wf-section">
    <div class="text-404" [style.transform]="'perspective(500px) translate3d(0px, 0px, -50px)'">
        <svg xmlns="http://www.w3.org/2000/svg" width="369" height="266" viewBox="0 0 369 266">
            <text class="back-text" data-name="404" transform="translate(0 216)" fill="#fff" font-size="200" font-family="SegoeUIBlack, Segoe UI" font-weight="900"><tspan x="0" y="0">404</tspan></text>
        </svg>
    </div>
    <div class="text-404" [style.transform]="'perspective(500px) translate3d(0px, 0px, -40px)'">
        <svg xmlns="http://www.w3.org/2000/svg" width="369" height="266" viewBox="0 0 369 266">
            <text class="back-text" data-name="404" transform="translate(0 216)" fill="#fff" font-size="200" font-family="SegoeUIBlack, Segoe UI" font-weight="900"><tspan x="0" y="0">404</tspan></text>
        </svg>
    </div>
    <div class="text-404" [style.transform]="'perspective(500px) translate3d(0px, 0px, -30px)'">
        <svg xmlns="http://www.w3.org/2000/svg" width="369" height="266" viewBox="0 0 369 266">
            <text class="back-text" data-name="404" transform="translate(0 216)" fill="#fff" font-size="200" font-family="SegoeUIBlack, Segoe UI" font-weight="900"><tspan x="0" y="0">404</tspan></text>
        </svg>
    </div>
    <div class="text-404" [style.transform]="'perspective(500px) translate3d(0px, 0px, -20px)'">
        <svg xmlns="http://www.w3.org/2000/svg" width="369" height="266" viewBox="0 0 369 266">
            <text class="back-text" data-name="404" transform="translate(0 216)" fill="#fff" font-size="200" font-family="SegoeUIBlack, Segoe UI" font-weight="900"><tspan x="0" y="0">404</tspan></text>
        </svg>
    </div>
    <div class="text-404" [style.transform]="'perspective(500px) translate3d(0px, 0px, -10px)'">
        <svg xmlns="http://www.w3.org/2000/svg" width="369" height="266" viewBox="0 0 369 266">
            <text class="back-text" data-name="404" transform="translate(0 216)" fill="#fff" font-size="200" font-family="SegoeUIBlack, Segoe UI" font-weight="900"><tspan x="0" y="0">404</tspan></text>
        </svg>
    </div>
    <div class="text-404" [style.transform]="'perspective(500px) translate3d(0px, 0px, 0px)'">
        <svg xmlns="http://www.w3.org/2000/svg" width="369" height="266" viewBox="0 0 369 266">
            <text class="back-text" data-name="404" transform="translate(0 216)" fill="#fff" font-size="200" font-family="SegoeUIBlack, Segoe UI" font-weight="900"><tspan x="0" y="0">404</tspan></text>
        </svg>
    </div>
    <div class="text-404-front">
        <svg xmlns="http://www.w3.org/2000/svg" width="369" height="266" viewBox="0 0 369 266">
            <clipPath id="clip-number-front">
                <text id="_404-front" data-name="404" transform="translate(0 216)" fill="#000" font-size="200" font-family="SegoeUIBlack, Segoe UI" font-weight="900"><tspan x="0" y="0">404</tspan></text>
            </clipPath>
        </svg>
    </div>

    <div class="_404-shadow">404</div>

    <div class="bottom-container">
        <div class="text-page-not-found">Page Not Found</div>
        <a class="non-decorated-link" routerLink="/">Go back home</a>
    </div>
      
</div>
