<header class="header section user-select-none">
    <div class="outer-container-1360 header-block">
        <div class="logo-menu-container">
            <a class="header-menu-svg mobile-menu-button non-decorated-link w-inline-block"
                (click)="showMenu.emit(true);">
                <div></div>
            </a>
            <a routerLink="/account" class="logo-block non-decorated-link w-inline-block">
                <div>My Workshop App</div>
            </a>
        </div>
        <a href="mailto:parekhamit04@gmail.com" class="contact-block non-decorated-link w-inline-block">
            <div>Contact</div>
        </a>
    </div>
</header>