<div class="section padding-50-top-bottom wf-section">
    <div class="outer-container-1360">
        <div class="workshop-top-bar">
            <div class="workshop-status">
                <div class="workshop-status-title">Enrolled Workshops</div>
            </div>
            <a routerLink="enrolled" class="show-all-box w-button">Show all</a>
        </div>
        <div class="workshop-container" *ngIf="(enrolledWorkshops$ | async) as enrolledWorkshops; else enrolledWorkshopsLoader">
            <app-workshop-card 
                *ngFor="let workshop of enrolledWorkshops"
                [workshop]="workshop"
                [routerLink]="['./', workshop.id, workshop.metaData.title.toLowerCase().split(' ').join('-')]"
                cardType="ENROLLED"
                [attr.data-title]="workshop.metaData.title"
                [attr.data-workshop-id]="workshop.id"
                [attr.data-status-id]="workshop.status.id">
            </app-workshop-card>
        </div>
        <ng-template #enrolledWorkshopsLoader>
            <div class="workshop-container">
                <app-workshop-card></app-workshop-card>
                <app-workshop-card></app-workshop-card>
            </div>
        </ng-template>
    </div>
</div>
<div class="section padding-50-top-bottom wf-section">
    <div class="outer-container-1360">
        <div class="workshop-top-bar">
            <div class="workshop-status">
                <div class="workshop-status-title">Recent Completed Workshops</div>
            </div>
            <a routerLink="completed" class="show-all-box w-button">Show all</a>
        </div>
        <div class="workshop-container" *ngIf="(completedWorkshops$ | async) as completedWorkshops; else completedWorkshopsLoader">
            <app-workshop-card 
                *ngFor="let workshop of completedWorkshops"
                [workshop]="workshop"
                [routerLink]="['./', workshop.id, workshop.metaData.title.toLowerCase().split(' ').join('-')]"
                cardType="COMPLETED"
                [attr.data-title]="workshop.metaData.title"
                [attr.data-workshop-id]="workshop.id"
                [attr.data-status-id]="workshop.status.id">
            </app-workshop-card>
        </div>
        <ng-template #completedWorkshopsLoader>
            <div class="workshop-container">
                <app-workshop-card></app-workshop-card>
                <app-workshop-card></app-workshop-card>
            </div>
        </ng-template>
    </div>
</div>
<div class="section padding-50-top-bottom wf-section">
    <div class="outer-container-1360">
        <div class="workshop-top-bar">
            <div class="workshop-status">
                <div class="workshop-status-title">Browse Upcoming Workshops</div>
            </div>
            <a routerLink="upcoming" class="show-all-box w-button">Show all</a>
        </div>
        <div class="workshop-container" *ngIf="(upcomingWorkshops$ | async) as upcomingWorkshops; else upcomingWorkshopsLoader">
            <app-workshop-card 
                *ngFor="let workshop of upcomingWorkshops"
                [workshop]="workshop"
                [routerLink]="['./', workshop.id, workshop.metaData.title.toLowerCase().split(' ').join('-')]"
                cardType="UPCOMING"
                [attr.data-title]="workshop.metaData.title"
                [attr.data-workshop-id]="workshop.id"
                [attr.data-status-id]="workshop.status.id">
            </app-workshop-card>
        </div>
        <ng-template #upcomingWorkshopsLoader>
            <div class="workshop-container">
                <app-workshop-card></app-workshop-card>
                <app-workshop-card></app-workshop-card>
            </div>
        </ng-template>
    </div>
</div>