
.context-menu-container {
    font-family: Montserrat, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 1.4;
    position: fixed;
    bottom: auto;
    top: auto;
    left: auto;
    right: auto;
    font-size: 12px;
    z-index: 100;
    box-shadow: 0 40px 40px -20px rgba(0, 0, 0, 0.5);
}

.context-menu-bg {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
}

.context-menu-component {
    position: relative;
    z-index: 2;
    max-width: 300px;
    min-width: 250px;
    padding: 15px;
    background-color: #333;
}
